@import "tailwindcss";

:root {
  --background: #bda996;
  --foreground: #000000;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 12px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Roboto Mono", monospace;
  height: 100%;
  margin: 0;
  padding: 0;
}

footer {
  /* position: absolute; */
  /* flex-direction: column; */
  /* margin-top: 100vh; */
  bottom: 5px;
}
/* .roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Comment Styling */
.allCommentContainer {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem;
}
.commentContainer {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.heading {
  font-weight: bold;
  font-size: x-large;
}
.button {
  color: white;
  border: 2px solid #7c7c7c;
  background-color: #000000;
  padding: 2px;
}

.commentAuthor {
  font-weight: bold;
  display: flex;
}
.commentBody {
  display: flex;
  margin-left: 2rem;
  font-style: italic;
  padding: 0.5rem;
}

.commentButtons {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-between;
}

/* Post Styling */
.postBody {
  display: flex;
  padding: 3rem;
  flex-direction: column;
}
.postHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imageBodyContainer {
  display: flex;
  flex-direction: row;
}
.postImage {
  max-width: 50vw;
}
@media (max-width: 600px) {
  .imageBodyContainer {
    flex-direction: column;
    width: auto;
  }
}
@media (max-width: 600px) {
  .postImage {
    width: auto;
  }
}

.commentTextArea {
  background-color: chocolate;
  width: 30vw;
}

.commentContainer {
  display: flex;

  flex-direction: column;
}

.fieldsetContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.legendText {
  display: flex;
  justify-self: center;
}
.commentAuthorBox {
  background-color: brown;
}

.commentBodyBox {
  background-color: brown;
}
